body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
p {
    color: rgb(222, 225, 226);
    padding-bottom: 2%;
}

.today {
    color: black;
}

.tk {
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
}

.tk div {
    background-color: rgba(220, 220, 220, 0.5);
    padding: 0% 10px 0% 10px;
    border-radius: 5px;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 10%;
}

.button {
    font-size: large;
    color: white;
    text-decoration: none;
    background-color: rgb(219, 58, 9);
    padding: 10px;
    border-radius: 5px;
}

#other {
    color: rgba(128, 128, 128, 0.5);
    padding-top: 5%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
    color: gray;
}

#two {
    border: 2px solid orangered;
    background-color: rgba(255, 68, 0, 0.2);
}

.db {
    padding-top: 5%;
    padding-bottom: 5%;
}

.ammount {
    padding-top: 5%;
    text-align: center;
}

.plan,
.ammount {
    margin-left: 10%;
    margin-right: 10%;
}

.text {
    text-align: center;
    color: black;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box div {
    width: 50%;
    margin: 2%;
    padding: 3% 2% 1% 1%;
    border-radius: 5px;
}

.black {
    color: black;
}

#other {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid gray;
    margin-left: 20%;
    margin-right: 20%;
}

#other input {
    padding: 5%;
    text-align: center;
    border: none;
    outline: none;
}

.c1 {
    background-color: rgba(135, 207, 235, 0.2);
}

.c2 {
    background-color: rgba(255, 192, 203, 0.2);
}

.c3 {
    background-color: rgba(248, 220, 177, 0.4);
}

.how {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.how div {
    width: 60%;
    padding: 5% 0% 5% 0%;
}

.how img {
    width: 80%;
    box-shadow: 3px 3px 10px 1px gray;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    padding: 5% 2% 2% 5%;
    border-radius: 10px;
    box-shadow: 8px 12px 25px 1px gray;
    text-align: center;
}

.social img {
    width: 30%;
}

.update {
    text-align: center;
    padding-bottom: 10%;
}

.button1 {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 10px 25px 10px 25px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
}

.button2 {
    color: white;
    background-color: rgb(219, 58, 9);
    padding: 10px 25px 10px 25px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
}

.orange {
    color: rgba(255, 68, 0, 0.822);
    font-family: 'Italianno';
}

form {
    background-color: rgba(248, 220, 177, 0.4);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.email {
    display: flex;
    justify-content: center;
}

footer {
    padding: 1%;
    text-align: center;
    background-color: rgb(1, 1, 29);
}